header#js-header.Header.-fixed.js-fixed(data-scroll-header='')
  .Header_inner
    .Header_bar
      .Header_bar_inner
        p.Header--logo
          a(href=`${URL}`)
            img(src=IMG_PATH+`common/logo.svg`, alt='logo')
        button#js-hamburger.Header--hamburger(type='button', aria-controls='global-nav', aria-expanded='false')
          span.hamburger--line
            span.hamburger--visually_hidden メニューを開閉する
    nav.Header_nav
      .Header_nav_inner
        ul.Header_nav_list
          li.Header_nav_list--item
            a.item-link(href='#about')
              span.item-link-txt リスト1
          li.Header_nav_list--item
            a.item-link(href='#address')
              span.item-link-txt リスト2
          li.Header_nav_list--item
            a.item-link(href=pages.company.url)
              span.item-link-txt #{pages.company.name}
    nav#js-headerNav_sp.HeaderSP_nav
      .HeaderSP_nav_inner
        ul.HeaderSP_nav_list
          li.HeaderSP_nav_list--item
            a.item-link(href='#about')
              span.item-link-txt リスト1
          li.HeaderSP_nav_list--item
            a.item-link(href='#address')
              span.item-link-txt リスト2
          li.HeaderSP_nav_list--item
            a.item-link(href=pages.company.url)
              span.item-link-txt #{pages.company.name}
